	<div class="row">
		<div class="col-md-4 col-sm-4 visible-lg col-lg-4">
			<div class="reserve-left-back"></div>
		</div>
		<div class="col-xs-12 col-md-12 col-sm-12 col-lg-8 ">
			<div class="main-container">
				<section class="reserve-main reserve-result-page">
					<h2 class="text-center reserve-main-title">My page</h2>
					<%= form_for( :room, method: 'get', remote: true ) do |f| %>
					<div class="form-group has-success">
						<label class="control-label" for="text">My Reservation</label>
						<%= f.text_field :text, class: 'form-control',id: 'text', required: true %>
					</div>
					<div class="reserve-next">
						<%= link_to "<button class='btn'>Edit my info</button>".html_safe, register_path%>
					</div>
					<div class="reserve-next">
						<%= link_to "<button class='btn'>Make new reservation</button>".html_safe, index_path%>
					</div>
					<div class="reserve-next">
						<%= link_to "<button class='btn'>Log out</button>".html_safe, confirm_path%>
					</div>
					<% end %>
				</section>
			</div>
			
		</div>
	</div>