	<div class="row">
		<div class="col-md-4 col-sm-4 visible-lg col-lg-4">
			<div class="reserve-left-back"></div>
		</div>
		<div class="col-xs-12 col-md-12 col-sm-12 col-lg-8 ">
			<div class="main-container">
				<section class="reserve-header">
					<div class="row">
						<div class="col-xs-3 col-md-3 col-sm-3 resreve-number-container">
							<div class="reserve-number reserve-number-first" style="background: #fff;">
								<span>1</span>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-number-container">
							<div class="reserve-number reserve-number-first" style="background: #fff;"><span>2</span></div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-number-container">
							<div class="reserve-number reserve-number-first" style="background: #fff;"><span>3</span></div>
						</div>
						<div class="col-sm-3 col-md-3 col-xs-3 resreve-number-container">
							<div class="reserve-number reserve-number-first"><span>4</span></div>
						</div>
					</div>
				</section>
				<section class="reserve-main">
					<h2 class="text-center reserve-main-title">Your Info</h2>
					<%= form_for( :room, method: 'get', remote: true ) do |f| %>
					<div class="form-group ">
						<label class="control-label" for="inputSuccess1">NAME:</label>
						<%= f.text_field :name, class: 'form-control',id: 'inputSuccess1', placeholder: 'Your Name', required: true %>
					</div>
					<div class="form-group ">
						<label class="control-label" for="phone-number">PHONE NUMBER:</label>
						<%= f.text_field :name, class: 'form-control', id: 'phone-number', placeholder: 'Phone number', required: true %>
					</div>
					<div class="form-group ">
						<label class="control-label" for="email">EMAIL:</label>
						<%= f.email_field :email, class: 'form-control',id: 'email', placeholder: 'Your Email', required: true %>
					</div>
					<div class="form-group ">
						<label class="control-label" for="password">PASSWORD:</label>
						<%= f.password_field :password, class: 'form-control', id: 'password', required: true %>
					</div>
					<div class="already-text text-center">
						<%= link_to "<h3>already has account?</h3>".html_safe, login_path%>
					</div>
					<div class="reserve-next">
						<%= link_to "<button class='btn'>next</button>".html_safe, confirm_path%>
					</div>
					<% end %>
				</section>
			</div>
			
		</div>
	</div>